<!-- Displays our About page -->
<h1>About CloudShare</h1>

<h2>What is CloudShare?</h2>
<p>CloudShare is a cloud storage service designed to facilitate easy and simple file storage and retrieval.</p>
<p>It also comes equipped with file sharing features, so you may share your own files with other users.</p>

<h2>How much does it cost?</h2>
<p>CloudShare is free, and always will be. </p>
<p>You can sign up today, with no hassle, or payment </p>

<h2>Why use CloudShare?</h2>
<p>Simplicity and functionality are core beliefs we have here at CloudShare. We offer an unbloated, worry-free software solution.</p>
<p>CloudShare is also proud to be open source. <a href="https://github.com/doodlehead/CloudShare">Click here to go to our repository.</a> </p>

