<div class="jumbotron">
  <h1>Welcome to CloudShare</h1>
  <p>The only cloud storage and file sharing system you'll ever need</p>
  <p><a class="btn btn-primary btn-lg" href=<%= signup_path %> role="button">Sign Up</a></p>
</div>