<div class="jumbotron">
  <h1>Jumbotron Title test</h1>
  <p>Insert paragraph explaining what we do.</p>
  <p><a class="btn btn-primary btn-lg" href=<%= signup_path %> role="button">Sign Up</a></p>
</div>