<h1>All Users</h1>
<div class="alert alert-info" role="alert">This page is a work in progress!</div>

<div class="list-group">
    <% @users.each do |user| %>
        <a href= <%= user_path(user) =%> class="list-group-item"> <%= user.name %> </a>
    <% end %>
</div>