<h1>Account Details</h1>

<div class="alert alert-info" role="alert">This page is a work in progress!</div>

<ul class="list-group">
    <li class="list-group-item"><strong>Email:</strong> <%=@user.email%></li>
    <li class="list-group-item"><strong>Name:</strong> <%=@user.name%></li>
    <li class="list-group-item"><strong>Storage:</strong> <%= calculate_storage(params[:id])/(1024) %>/5 000 KB</li>
</ul>

<% if(current_user.admin?) %>
     <!-- <a class="btn btn-primary btn-lg" href=# role="button">Delete this account</a> -->
     <%= button_to "Delete this user", user_path(@user), method: :delete %>
<% end %>
