<!-- Code for the footer, located at the bottom of the page -->
<footer class ="footer">
    <small>
        CloudShare by Frank Yu and William Lu
    </small>
    <nav>
        <ul>
            <!-- Display links -->
            <li><%=link_to "About", about_path %></li>
            <li><%=link_to "Contact", contact_path %></li>
            <li><%=link_to "Home", root_path %></li>
        </ul>
    </nav>
</footer>