<ul class="nav navbar-nav navbar-right">
    <li role="presentation"><a href="#">Home</a></li>
    <li role="presentation"><a href="#">Profile</a></li>
    <li role="presentation"><a href="#">My Files</a></li>
    <li role="presentation"><a href="#">Shared Files</a></li>
</ul>